
# intelliJ
/.idea

# backend
/backend/doc
/backend/vendor
/backend/composer.lock
/backend/backend.iml
/backend/.env
/backend/public/bundles/
/backend/var/
/backend/vendor/
/backend/bin/.phpunit
/backend/phpunit.xml

# frontend
/frontend/node_modules
/frontend/frontend.iml
